<ion-app>
  <ion-menu  side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openPage('Accueil')">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openPage('Paramètres')">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Paramètres</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openPage('Aide')">
            <ion-icon name="help" slot="start"></ion-icon>
            <ion-label>Aide</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
