

<ion-content class="main" class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="menulateral" slot="start" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    </ion-toolbar>
  </ion-header>
  <ion-title class="banner-title">
    <div>Satisfaction gourmande </div>
    <div class="secondtext">en quelques clics</div>
  </ion-title>
  

    <ion-segment class="ion-padding" class="iseg" [scrollable]="true" value="pizza" mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="pizza">
        <ion-icon name="pizza" color="light"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cake">
        <ion-icon name="pizza" color="light"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="platsAfricains">
        <ion-icon name="pin" color="light"></ion-icon>
      </ion-segment-button>


  </ion-segment>


  <ion-grid *ngIf="selectedSegment==='pizza'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of PizzaMenu | async" [routerLink]="['/details', item.id]">
        <ion-card class="flex">
          <ion-avatar>
            <img [src]="item.img" alt="Article" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <p>Prix: {{ item.price }} €</p>
            <!-- Autres informations sur l'article -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="selectedSegment==='cake'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of CakeMenu | async" [routerLink]="['/details-cake', item.id]">
        <ion-card >
          <ion-avatar>
            <img [src]="item.img" alt="Article" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <p>Prix: {{ item.price }} €</p>
            <!-- Autres informations sur l'article -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="selectedSegment==='platsAfricains'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of PlAfricainMenu | async" [routerLink]="['/details-plat-africains', item.id]">
        <ion-card >
          <ion-avatar>
            <img [src]="item.img" alt="Article" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <p>Prix: {{ item.price }} €</p>
            <!-- Autres informations sur l'article -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

